.dropdown-menu {
  background: #000;
  color: #ccc;
}
.dropdown-menu .dropdown-item {
  color: #ccc;
}
.dropdown-menu .dropdown-item:hover {
  background: #333;
  color: #fff;
}
h2 {
  margin-top: 40px;
}
h2.card-title {
  font-size: 125%;
}
h3 {
  margin-top: 30px;
}
h3 .badge {
  font-size: 50%;
  margin-left: 10px;
  vertical-align: 5px;
  white-space: nowrap;
}
footer {
  background: #000;
  color: #ccc;
  font-size: 80%;
  margin: 0px;
  padding: 10px;
}
.jumbotron {
  border: solid thin #ccc;
}
blockquote {
  background: #4E5AA3;
  color: white;
  padding: 10px 20px 10px;
}
pre, p.summary {
  border-left: solid 2px #4E5AA3;
  padding-left: 20px;
}

@media print {
  footer {
    background: #eee;
    color: #000;
  }
}
