---
title: The Printer Working Group
layout: bare
---

<div class="row pwg-panel pwg-base">
  <div class="col-md-12 col-sm-12">
    <blockquote style="background: none;"><em>Note:</em> This site is under active development. Please see the official <a href="https://www.pwg.org">PWG web site</a> for authoritative information.</blockquote>
    <h1><img class="pwg-logo-sm hidden-sm" src="/pwg-logos/pwg-medium@2x.png">The Printer Working Group</h1>
    <p class="lead">Making printers and multi-function devices work better with applications and operating systems.</p>
    <ul class="nav nav-pills">
      <li class="nav-item"><a class="nav-link" href="/about.html" role="button">About the PWG</a></li>
      <li class="nav-item"><a class="nav-link" href="/standards.html" role="button">Standards</a></li>
      <li class="nav-item"><a class="nav-link" href="/printers">Find Printers</a></li>
    </ul>
  </div>
</div>
<div class="row pwg-panel">
  <div class="col-sm-12 col-md-4">
    <h2>3D Printing <a class="badge badge-pill badge-primary" href="/3d/index.html">i</a></h2>
    <p>The PWG has defined an IPP extension for 3D printing using standard file formats and an associated XML print job ticket format.</p>
  </div>
  <div class="col-sm-12 col-md-4">
    <h2>IPP Everywhere&trade; <a class="badge badge-pill badge-primary" href="/ipp/everywhere.html">i</a></h2>
    <p>Print to any network or USB printer without using special software from the manufacturer.</p>
  </div>
  <div class="col-sm-12 col-md-4">
    <h2>PWG Semantic Model <a class="badge badge-pill badge-primary" href="/sm/model.html">i</a></h2>
    <p>Support multiple network protocols and job ticket formats using our abstract model.</p>
  </div>
</div>
<div class="row pwg-panel pwg-alt-0">
  <div class="col-md-12 col-sm-12">
    <h2>Recent News</h2>

    {% for post in site.posts offset: 0 limit: 8 %}
    <h3><small class="float-end text-muted">{{ post.date | date_to_string }}</small>{{post.title}}</h3>
    {{ post.excerpt }}
    {% if post.excerpt != post.content %}
    <p><a class="btn btn-secondary btn-sm" href="{{ post.url }}">Read More</a></p>
    {% endif %}
    {% endfor %}

    <p><a class="btn btn-primary btn-sm" href="/archive.html">Older Articles</a></p>
  </div>
</div>
