<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/pwg.css">
    <link rel="shortcut icon" href="/apple-touch-icon.png" type="image/png">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <meta name="keywords" content="printing,internet printing protocol,ipp,ipp everywhere,semantic model">
  </head>
  <body style="background: black;">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top" role="navigation">
        <a class="navbar-brand" href="/"><img src="/apple-touch-icon.png" width="30" height="30" class="d-inline-block align-top" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#pwgNavContent" aria-controls="pwgnav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="pwgNavContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="pwgAboutContent" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
              <div class="dropdown-menu" aria-labelledby="pwgAboutContent">
                <a class="dropdown-item" href="/about.html">About the PWG</a>
                <a class="dropdown-item" href="/chair/index.html">PWG Officers</a>
                <a class="dropdown-item" href="/members.html">PWG Members</a>
                <a class="dropdown-item" href="/members.html#JOINING">Joining</a>
                <a class="dropdown-item" href="/chair/participating.html">Participating</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/bofs.html">BOF Sessions</a>
                <a class="dropdown-item" href="/mailhelp.html">Mailing Lists</a>
                <a class="dropdown-item" href="/chair/meeting-info/meetings.html">Meetings</a>
                <a class="dropdown-item" href="https://ieee-isto.org/privacy-policy/">Privacy Policy</a>
              </div>
            </li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="pwgWorkContent" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Our Work</a>
              <div class="dropdown-menu" aria-labelledby="pwgWorkContent">
                <h6 class="dropdown-header">Publications</h6>
                <a class="dropdown-item" href="/informational.html">Informational Documents</a>
                <a class="dropdown-item" href="/namespaces.html">Namespaces</a>
                <a class="dropdown-item" href="/standards.html">Standards</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Technologies</h6>
                <a class="dropdown-item" href="/3d/index.html">3D Printing</a>
                <a class="dropdown-item" href="/ipp/everywhere.html">IPP Everywhere&trade;</a>
                <a class="dropdown-item" href="/sm/model.html">PWG Semantic Model</a>
              </div>
            </li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="pwgWGContent" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Workgroups</a>
              <div class="dropdown-menu" aria-labelledby="pwgWGContent">
                <h6 class="dropdown-header">Active Workgroups</h6>
                <a class="dropdown-item" href="/ids/index.html">Imaging Device Security</a>
                <a class="dropdown-item" href="/ipp/index.html">Internet Printing Protocol</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Inactive Workgroups</h6>
                <a class="dropdown-item" href="/cloud/index.html">Cloud Imaging Model</a>
                <a class="dropdown-item" href="/sm/index.html">Semantic Model</a>
                <a class="dropdown-item" href="/wims/index.html">Workgroup for Imaging Management Solutions</a>
              </div>
            </li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="pwgProjContent" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Github Projects</a>
              <div class="dropdown-menu" aria-labelledby="pwgProjContent">
                <a class="dropdown-item" href="/github.html">All Projects</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/ippeveselfcert/index.html">IPP Everywhere&trade; Printer Self-Certification</a>
                <a class="dropdown-item" href="/ippregistry/index.html">IPP Registry</a>
                <a class="dropdown-item" href="/ippsample/index.html">IPP Sample Code</a>
                <a class="dropdown-item" href="/pwg-books/index.html">PWG Books</a>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="#modalSearch" data-toggle="modal" data-target="#modalSearch">Search<!--<img src="/images/search.png" width="20" height="20" align="top">--></a></li>
          </ul>
          <span class="navbar-text">{{page.project}}
          <a href="https://travis-ci.org/istopwg/{{page.project}}"><img src="https://travis-ci.org/istopwg/{{page.project}}.svg?branch=master"></a>
          <a href="https://build.snapcraft.io/user/istopwg/{{page.project}}"><img src="https://build.snapcraft.io/badge/istopwg/{{page.project}}.svg"></a></span>
        </div>
      </nav>
    </header>
    <div id="modalSearch" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
           <div class="modal-header">
             <h4 class="modal-title">Search PWG</h4>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
           <div class="modal-body">
             <script type="text/javascript" async="" src="https://cse.google.com/cse.js?cx=018021367961685880654:mdt584m83r4"></script><script>
               (function() {
             var cx = '018021367961685880654:mdt584m83r4';
             var gcse = document.createElement('script');
             gcse.type = 'text/javascript';
             gcse.async = true;
             gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
             var s = document.getElementsByTagName('script')[0];
             s.parentNode.insertBefore(gcse, s);
               })();
             </script>
             <gcse:search></gcse:search>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
           </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" style="background: white;">
      <div class="row pwg-panel pwg-base">
        <div class="col-md-12 col-sm-12">
          <h1>{{page.title}}</h1>
          <p class="lead">{{page.lead}}</p>
          <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link" href="https://github.com/istopwg/{{page.project}}">Github Project</a></li>
            <li class="nav-item"><a class="nav-link" href="https://github.com/istopwg/{{page.project}}/issues">Issue Tracker</a></li>
          </ul>
        </div>
      </div>
      <div class="row pwg-panel">
        <div class="col-md-12 col-sm-12">
          {{ content }}
        </div>
      </div>
    </div>
    <footer class="container-fluid">
      Copyright &copy; 2016-{{ site.time | date: "%Y" }} by The ISTO Printer Working Group. IPP Everywhere, the IPP Everywhere logo, and the PWG logo are trademarks of the IEEE-ISTO.<br>
      <a href="/about.html">About the PWG</a>
      &middot;
      <a href="https://ieee-isto.org/privacy-policy/">Privacy Policy</a>
      &middot;
      <a href="mailto:webmaster@pwg.org">PWG Webmaster</a>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="/js/pwg-cookie-notice.js"></script>
  </body>
</html>
